body{
margin:0;
padding: 0;
background: #333;
}
.login-form{
  width: 300px;
  height: auto;
  position: absolute;
  padding: 10px 25px;
  background: #eee;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-bottom:5px solid grey ;
  border-radius: 4px;
}
.login-face{
  width: 100px;
  height: 100px;
  position: relative;
  background: skyblue;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 75px;
}
img{
  border-radius: 100px;
}
.login-face>img {
  height:100px;
  width: 100px;
  overflow: hidden;
}
.form{
  width: 100%;
  position: relative;
  margin: 25px auto;
}
.input{
  width: 100%;
  height: 50px;
  position: relative;
  margin: 15px auto;
}
input[type="text"],input[type="password"]{
  width: 100%;
  height: 50px;
  position: relative;
  outline: none;
  border: 2px solid #ddd;
  border-radius: 5px;
 font-size: 16px; font-family: sans-serif,Arial;
}
input[type="text"]:focus,
input[type="password"]:focus{
  border:2px solid #0AC986;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  background: #0AC986;
  font-size: 16px;
  font-family: sans-serif,Arial;
  color: #fff;
  outline: none;
  border-radius: 5px;
  border: 0px;cursor: pointer;
}
.error-msg{
  font-size: 16px;
  font-family: sans-serif,Arial;
  color: Red;
  margin-top:50px;
  display: none;
}

.error{
  position: relative;
  animation: shake 0.2s;
}
@keyframe shake {
  0%,100%{left: 0px;}
  20%,80%{left: -15px;}
  40%,60%{left: 15px;}
}
